body{
  background-image: url("https://cdn.pixabay.com/photo/2020/09/04/20/09/cartoon-5544856_640.jpg");
 /*background-repeat: no-repeat;*/
}
/*body{
  background-color: aquamarine;
  overflow:hidden;
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #80a4ed;
  color: white;
}

.box {
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #61dafb;
  border-radius: 20%;
  margin: 20px auto;
}
*/
/*.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.recipe-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.recipe-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.recipe-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-info {
  padding: 10px;
}

.recipe-info h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.recipe-info p {
  color: #666;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}*/

